pre {
  border-radius: 6px;
  position: relative;
}
code {
  padding: 2px 5px;
  color: #d56161;
  border-radius: 2px;
  background: #f6f7f9;
}
pre code.hljs {
  padding: 1rem;
  background: #efefef;
}
pre code.hljs.html::before,
pre code.hljs.javascript::before,
pre code.hljs.bash::before,
pre code.hljs.css::before {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.9em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
pre code.hljs.html::before {
  content: "HTML";
}
pre code.hljs.javascript::before {
  content: "JavaScript";
}
pre code.hljs.bash::before {
  content: "Shell";
}
pre code.hljs.css::before {
  content: "CSS";
}
table {
  tbody > tr > td,
  thead > tr > th {
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px;
  }

  tbody > tr > td:first-child,
  thead > tr > th:first-child {
    border-left: 1px solid #e8e8e8;
  }

  thead > tr > th {
    border-top: 1px solid #e8e8e8;
  }
}
